<div class="columns small-centered small-12">
	<script>
	var graph = new Springy.Graph();

	<% @nodes.each_with_index do |n, i| %>
		var <%= n.name.downcase.split.join %> = graph.newNode({label: "<%= n.name %>"});
	<% end %>

	<% @edges.each do |i| %>
		graph.newEdge(<%= i[1] %>, <%= i[2] %>, {color: '#00FF00'});
	<% end %>

	jQuery(function(){
	  var springy = window.springy = jQuery('#springydemo').springy({
	    graph: graph,
	    nodeSelected: function(node){
	      console.log('Node selected: ' + JSON.stringify(node.data));
	    }
	  });
	});
	</script>

	<canvas id="springydemo" width="640px" height="400px" />
</div>