<div class="columns small-centered small-12">
	<script>
	var graph = new Springy.Graph();

	<% @nodes.each_with_index do |n, i| %>
		var <%= n.name.downcase.split.join %> = graph.newNode({label: "<%= n.name %>"});
	<% end %>

	<% @nodes.each_with_index do |n, i| %>
		<% @nodes.each_with_index.reject {|m,j| i == j}.each do |m,j| %>
			graph.newEdge(<%= n.name.downcase.split.join %>, <%= m.name.downcase.split.join %>, {color: '#00FF00'});
		<% end %>
	<% end %>

	jQuery(function(){
	  var springy = window.springy = jQuery('#springydemo').springy({
	    graph: graph,
	    nodeSelected: function(node){
	      console.log('Node selected: ' + JSON.stringify(node.data));
	    }
	  });
	});
	</script>

	<canvas id="springydemo" width="640px" height="400px" />
</div>