<div class="row">
	<div class="columns small-12 medium-6 large-3">
		<div class="panel"><%= @current_balance_btc.to_s + " BTC" %></div>
	</div>
	<div class="columns small-12 medium-6 large-3">
		<div class="panel"><%= @current_balance_usd.to_s + " USD" %></div>
	</div>
	<div class="columns small-12 medium-6 large-3">
		<div class="panel"><%= "Buy Price: " + @current_buy_price %></div>
	</div>
	<div class="columns small-12 medium-6 large-3">
		<div class="panel"><%= "Sell Price: " + @current_sell_price %></div>
	</div>
</div>

<form>
  <fieldset>
	  <legend>Send Money</legend>
  	<div class="row">
  		<div class="columns small-12 medium-6 large-3">
			  <input type="text" placeholder="Recipient Email/Username">
		  </div>
		  <div class="columns small-12 medium-6 large-3">
			  <div class="row">
					<div class="columns small-6">
					  <input type="text" placeholder="mBTC">
				  </div>
				  <div class="columns small-6">
					  <input type="text" placeholder="USD">
				  </div>
			  </div>
		  </div>
  		<div class="columns small-12 medium-6 large-3">
			  <input type="text" placeholder="Message">
		  </div>
  		<div class="columns small-12 medium-6 large-3">
        <a href="#" class="button postfix">Go</a>
		  </div>
	  </div>
  </fieldset>
</form>