// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.module>.panel {
	height: 350px;
}

.dashboard-module-spinner-container {
	margin-top: 125px;
	text-align: center;
}

.vcard {
	width: 100%;
	text-align: center;
	.vcard-heading{
		font-weight: bold;
	}
	.label {
		font-size: inherit;
	}
}